<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
        link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        style
            include style.css
    </head>

    <body>
        <div class="sidenav">
            <a href="/">Acceuil</a>
            <a href="/post/create">Poster</a>
            <a href="#">A propos</a>
        
        </div>
        <div class="main">
            div(class="article")
                h2= json.titre
                h4(id="date") json.date
                h4(id="auteur")= json.auteur
                p(class="article-resume")= json.resume
        </div>
    </body>
</html>